%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
 [
  {compile,
   "/bin/sh -c '"
   "if [ x\"${MAKE}\" = x ]; then"
   "    make -C c_src ; "
   "else"
   "    ${MAKE} -C c_src ; "
   "fi"
   "'"}
 ]
}.

{post_hooks,
 [
  {clean,
   "/bin/sh -c '"
   "if [ x\"${MAKE}\" = x ]; then"
   "    make -C c_src clean ;"
   "else"
   "    ${MAKE} -C c_src clean ; "
   "fi"
   "'"}
 ]
}.

{edoc_opts, [{preprocess, true},
             {dir, "_build/docs/lib/jeysn/doc"}]}.

{plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [{proper, "1.4.0"}]}
    ]}
]}.
