%% -*- mode: erlang -*-

{erl_opts, [warnings_as_errors, debug_info]}.
{deps, []}.

{plugins,
 [
  {rebar3_proper,
   {git, "https://github.com/ferd/rebar3_proper.git"},
   {ref, "e1a9cbe193d2807737796c53b37bcfb14a346842"}}
%  rebar3_proper
% , rebar3_auto
% , rebar3_ex_doc      % See https://github.com/starbelly/rebar3_ex_doc
% , rebar3_hex
 ]}.

{ex_doc, [
     {source_url, <<"https://github.com/sstrollo/jeysn">>},
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"readme">>}
]}.

{edoc_opts, [{preprocess, true}
%             , {doclet, edoc_doclet_chunks}
%             , {layout, edoc_layout_chunks}
             , {dir, "_build/docs/lib/jeysn/doc"}
%             , {dir, "_build/default/lib/jeysn/doc"}
            ]}.

{pre_hooks,
 [
  {compile,
   "/bin/sh -c '"
   "if [ x\"${MAKE}\" = x ]; then"
   "    make -C c_src ; "
   "else"
   "    ${MAKE} -C c_src ; "
   "fi"
   "'"}
 ]
}.

{post_hooks,
 [
  {clean,
   "/bin/sh -c '"
   "if [ x\"${MAKE}\" = x ]; then"
   "    make -C c_src clean ;"
   "else"
   "    ${MAKE} -C c_src clean ; "
   "fi"
   "'"}
 ]
}.

{profiles,
    [{test, [
        {deps,
         [
          {proper,
           {git, "https://github.com/proper-testing/proper.git",
            {ref, "a5ae5669f01143b0828fc21667d4f5e344aa760b"}}}
          % {proper, "1.4.0"}
         ]}
    ]}
]}.
